
{{> header}}
{{> navbar}}
<table class="table table-striped table-dark">
 <link rel="stylesheet" href="/public/styles/estilos.css">
    <thead>
    <tr>
   <td>Nombre</td>
   <td>Nacionalidad</td>
   <td>Corriente</td>
   <td>Pintura</td>
   <td>Biografia</td>
   </tr>
   </thead>
   <tbody>
       <tr>
        <td>Henri Matisse (1869-1954)</td>
        <td>Frances</td>
        <td>Fauvismo</td>
       <td><img src="img/blueNude4.jpg" alt="" width="200" height="265"><br><p>"Blue Nude"</p></td>
       <td>El interés de Henri Matisse por la pintura no se manifestó hasta que cumplió 21 años. Hasta ese momento estudió, se licenció y trabajó como abogado en París. 
                En 1889 Matisse abandona la profesión para estudiar arte en la Academia Julian y, en 1893 pasa a la Escuela de Bellas Artes. Allí estudia con Gustav Moreau, pintor simbolista con el que trabajaría en su taller.
                Sus primeras influencias fueron su maestro Moreau y las numerosas obras del Museo del Louvre que había copiado durante su aprendizaje. De este simbolismo pasó a experimentar con las técnicas de impresionistas y neoimpresionistas. 
                En estos años Matisse conoce a Marquet y Derain y, gracias a este, a Vlaminck. Con estos y otros pintores conocidos participa en el Salón de Otoño (1905) en el que se le denomina Fauvistas, algo así como “salvajes”, por su manera de interpretar la realidad.
                Matisse comienza a ser reconocido y a dejar de tener que preocuparse por el dinero lo que le permite viajar. Visita Alemania, Rusia, España y Marruecos que dejan su impronta en sus obras.Su fama hace que empiece a tener jóvenes seguidores y de 1907 a 1911 crea una escuela.
                De 1908 a 1913 su obra se centra en el arte y la decoración. Es el momento de sus odaliscas y de los grandes oleos de “La Danza y la Música”, encargados por su patrón ruso, Sergei Shchukin,para su casa moscovita o “Estudio en rojo” con pinturas coloristas inspiradas en Marruecos.
                </td>
                
       </tr>
   </tbody>
 </table>
          
     {{>footer}}

      